@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/normalize';
@import 'partials/global';
@import 'partials/layout';

@import 'pages/homepage.scss';
@import 'pages/search.scss';
@import 'pages/discover.scss';