@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/normalize';
@import 'partials/global';
@import 'partials/layout';

@import 'pages/homepage';
@import 'pages/search';
@import 'pages/discover';