@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/normalize';
@import 'partials/global';
@import 'partials/layout';

@import 'pages/homepage';
@import 'pages/search';
@import 'pages/discover';

@media(max-width: 1300px){

    .splash{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        .splash-content{
            h1{
                font-size: 10rem;
                letter-spacing: 90px;
                line-height: 30px;
            }

            h2 {
            font-size: 30px;
            letter-spacing: 15px;
            line-height: 50px;
            }
        }
    }

    .bottom-splash{
        overflow-x: hidden;

          img {
            width: 100%;
            height: auto;
            display: block;
        }

        .artist-image{
            width: 250px;
        }

        .artist-name{
            font-size: 60px;
            letter-spacing: 8px;
        }

        .announcement{
            transform: translate(-10%, 0);
            p{
                font-size: 30px;
            }
        }

        .join-button{
            font-size: 30px;
            letter-spacing: 4px;

            padding: 25px 35px;

            transform: translate(50%, -50%)

        }

        .subscribe-title{
            font-size: 35px;
            letter-spacing: 15px;

            transform: translate(-30%, -20%)
        }
    }
}

@media(max-width: 770px){

    .splash{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        .splash-content{
            h1{
                font-size: 5rem;
                letter-spacing: 50px;
                line-height: 30px;
                transform: translate(20px, 25px);
            }

            h2 {
            font-size: 1.5rem;
            letter-spacing: 7px;
            line-height: 2.5rem;
            transform: translate(0);
            }
        }
    }

    .bottom-splash{

        .artist-image{
            width: 200px;
        }

        .artist-name{
            font-size: 51px;
            letter-spacing: 5px;
        }

        .announcement{
            transform: translate(-10%, 0);
            p{
                font-size: 20px;
                letter-spacing: 4px;
            }
        }

        .join-button{
            font-size: 15px;
            letter-spacing: 4px;

            padding: 20px 30px;

            transform: translate(50%, -50%)

        }

        .subscribe-title{
            font-size: 20px;
            letter-spacing: 10px;

            transform: translate(-20%, -20%)
        }
    }

    footer{
        font-size: 15px;
    }
    
}