@use '../partials/variables';

/* Splash */

.splash {
  position: relative;
    
  .splash-img{
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
        
    &::before {
      @include variables.absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,variables.$color-background 100%);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -40px;
      height: 100px;

      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, variables.$color-background 100%);

      filter: blur(1px);
    }


  }

  .splash-content {
    @include variables.absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    text-align: center;
    font-family: variables.$font-title;

    h1 {
      font-size: 200px;
      letter-spacing: 120px;
      line-height: 30px;

      transform: translate(40px, 25px);
    }

    h2 { 
      margin-top: 0;
      font-size: 36px;
      letter-spacing: 11px;
      line-height: 72px;
      transform: translate(-20px);
    }
  }

}

/* NavBar */

.main-nav {
  margin-top: 100px;
    

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    font-family: variables.$font-semibold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;

    text-transform: uppercase;
    text-decoration: none;
    color: variables.$color-accent;

    cursor: pointer;

    &.active{
      color: variables.$color-text;
    }
  }
}

.song-list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Bottom Splash */

.bottom-splash {
  margin-top: 100px;
  position: relative;
  overflow-x: hidden;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .subscribe-title {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-30%, -50%);

    font-family: variables.$font-main;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-wrap: nowrap;

    span {
      font-family: variables.$font-title;
    }

  }

  .join-button {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(125%, -50%);
  }

  .artist-image {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translate(-75%, -60%);
  }

  .artist-name {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translate(-140%, -45%);

    font-size: 100px;
    line-height: 10px;
    letter-spacing: 20px;
    font-family: variables.$font-title;
    text-transform: capitalize;

    .last {
      transform: translateX(16%);

      span {
        color: variables.$color-main;
      }

    }
  }

  .announcement {
    position: absolute;
    text-align: right;

    bottom: 0;
    right: 0;

    transform: translate(-35%, -60%);

    p {
      font-family: variables.$font-semibold;
      font-size: 40px;
      letter-spacing: 8px;
      line-height: 27px;
    }

    p:first-of-type{
      font-family: variables.$font-semibold;
      text-transform: uppercase;

      color: variables.$color-accent;
    }

  }

}

/* Footer */

footer {
  text-align: center;
  font-family: variables.$font-main;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 27px;
}