@import '../partials/variables';

/* Splash */

.splash {
  position: relative;
    
  .splash-img{
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
        
    &::before {
      @include absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,$color-background 100%);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -40px;
      height: 100px;

      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $color-background 100%);

      filter: blur(1px);
    }


  }

  .splash-content {
    @include absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    text-align: center;
    font-family: $font-title;

    h1 {
      font-size: 200px;
      letter-spacing: 120px;
      line-height: 30px;

      transform: translate(40px, 25px);
    }

    h2 {
      margin-top: 0;
      font-size: 36px;
      letter-spacing: 11px;
      line-height: 72px;

      transform: translate(-20px);
    }
  }

}

/* NavBar */

.main-nav {
  margin-top: 100px;
    

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    font-family: $font-semibold;
    font-size: 30px;
    line-height: 27px;
    letter-spacing: 2px;

    text-transform: uppercase;
    text-decoration: none;
    color: $color-accent;

    &.active{
      color: $color-text;
    }
  }
}

.song-list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}