.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;


    .name {
        text-transform: capitalize;
        font-family: $font-semibold;
        font-size: 30px;
        letter-spacing: 4px;
        color: $color-accent;
    }

    input {
        border-radius: 8px;
        border: none;
        height: 55px;
        width: 300px;
    }

    .button-small {
        margin-left: 10px;
    }
}