@font-face {
  font-family: 'SansProRegular';
  src: url(../../fonts/source-sans-pro.regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SansProBlack';
  src: url(../../fonts/source-sans-pro.black.ttf) format('truetype');
}

@font-face {
  font-family: 'SansProBold';
  src: url(../../fonts/source-sans-pro.bold.ttf) format('truetype');
}


@font-face {
  font-family: 'SansProSemibold';
  src: url(../../fonts/source-sans-pro.semibold.ttf) format('truetype');
}

