.song-container {

  margin-bottom: 10px;

  .song-label {
    font-family: $font-semibold;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 27px;
    margin-bottom: 60px;
  }

  .song-player {
    width: 550px;
  }

  .subtitles {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;

    font-family: $font-main;
    font-size: 15px;
    letter-spacing: 2px;

    color: $color-accent;

  }
}


.green-audio-player .volume .volume__button.open path {
  fill: $color-main;
}

.green-audio-player .slider .gap-progress{
  background-color: $color-main;
}

.green-audio-player .slider .gap-progress .pin{
  background-color: $color-main;
}

.button-primary {
  background-color: $color-main;
  color: $color-text;
  text-decoration: none;
  text-transform: uppercase;

  font-family: $font-bold;
  font-size: 40px;
  letter-spacing: 8px;

  padding: 40px 30px;
  border-radius: 5px;
}

.button-small {
  font-size: 20px;
  letter-spacing: 4px;

  padding: 15px 25px;
  font-family: $font-semibold;

  border-radius: 8px;
}

.page-title {
  font-size: 50px;
  font-family: $font-semibold;
  letter-spacing: 12px;
  color: $color-accent;
  text-transform: uppercase;
  text-align: center;

  margin-top: 80px;
  margin-bottom: 80px;
}