

$color-main: #CF383E;
$color-accent: #BFBFBF;
$color-text: #FFF;
$color-background: #131313;

$font-main: 'SansProRegular';
$font-title: 'SansProBlack';
$font-bold: 'SansProBold';
$font-semibold: 'SansProSemibold';

$transition: all .4s ease;

@mixin absolute{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}